* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    background-color: #D4F1F4;
    margin-top: 5rem;
}

main {
    width: 950px;
    margin: auto;
}

li {
    margin: 0.5rem;
}

a {
    text-decoration: none;
}

nav {
    box-sizing: border-box;
    position: fixed;
    height: 100%;
    width: 300px;
    top: 0;
    left: 0;
    background-color: #189AB4;
    transform: translateX(-100%);
    transition: 0.4s;
}

nav section {
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    color: azure;
    font-size: 2rem;
}
nav section h3 {
    margin: 0rem;
}

.nav-header {
    box-sizing: border-box;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
}

nav a, #nav-open, #nav-close, .home {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size:large;
    margin: 0.5rem 0;
    color: azure;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #05445E;
    width: 100%;
    transition: 0.4s;
    cursor: pointer;
}

#nav-open, #nav-close, .home {
    margin: 1rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

nav a .material-icons {
    margin-right: 1rem;
}

nav a:hover {
    background-color: #75E6DA;
    color: #05445E;
    transform: translateX(10px);
}

header {
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #75E6DA;
}

.your_cart {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    width: 24.5rem;
}

.your_cart a .material-icons {
    margin-right: 1rem;
}
.your_cart a {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size:large;
    margin: 0.5rem;
    color: azure;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #05445E;
    width: 100%;
    transition: 0.4s;
    height: 4rem;
}

.special {
    font-size: 1.5px;
    color: #75E6DA;
}

.special-offer {
    color: #05445E;
    transition: 0.6s;
    padding: 0.4rem;
}

.special-offer:hover {
    background-color: #75E6DA;
    color: #05445E;
    transform: translateY(10px);
    border-radius: 0.7rem;
}

nav.open {
    transform: translateX(0%);
}

.menu {
    display: flex;
    text-decoration: none;
}

.menu a {
    text-decoration: none;
}

.subtitle {
    text-align: center;
}

.product-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
    align-items: stretch;
    padding-left: 12rem;
    padding-top: 5rem;
}

.product-list-child {
    display: flex;
    background-color: #93e0ff;
    border-radius: 0.5rem;
    overflow: hidden;
}

.product-list-child-desc{
    padding-left: 2%;
    width: 60%;
    flex-direction: column;

}

.special-offer-container {
    display: flex;
    justify-content: center;
}

.product-img-container {
    display: flex;

}
.show-product {
    display: flex;
    justify-content: center;
    color: #05445E;
}

img {
    width: 24rem;
    background-color: white;
    border-radius: 0.5rem;
}